<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نموذج إنشاء حساب</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            direction: rtl;
            text-align: right;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            width: 90%;
            max-width: 400px;
            padding: 20px;
            background-color: #b0ddf4;
            border: 2px solid #57b9ea;
            border-radius: 10px;
            box-shadow: 0 0 10px #57b9ea;
            text-align: center; /* Center text within the form container */
        }

        h2 {
            color: #0c2d50;
            font-size: 28px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #0c2d50;
            font-size: 18px;
        }

        input[type="text"], input[type="email"], input[type="password"], select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #57b9ea;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        .password-container {
            position: relative;
        }

            .password-container input {
                padding-left: 40px;
            }

            .password-container .toggle-password {
                position: absolute;
                left: 10px;
                top: 35%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2em;
            }

        button {
            width: 50%;
            padding: 10px;
            margin-top: 10px;
            background-color: #0c2d50;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            font-size: 1.2em;
        }

        #Position {
            color: #991e02;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>إنشاء حساب</h2>
        <form asp-action="Create" asp-controller="Users" method="POST">
            <label for="first-name">الاسم الأول</label>
            <input type="text" id="first-name" name="FirstName" required>

            <label for="last-name">الاسم الأخير</label>
            <input type="text" id="last-name" name="LastName" required>

            <label for="email">البريد الإلكتروني</label>
            <input type="email" id="email" name="Email" required>

            <label for="password">كلمة المرور</label>
            <div class="password-container">
                <input type="password" id="password" name="Password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">👁</span>
            </div>

            <label for="job-title">المسمى الوظيفي</label>
            <select id="job-title" name="Position" required>
                <option value="" disabled selected>اختر المسمى الوظيفي</option>
                <option value="مدير المستشفي">مدير المستشفى</option>
                <option value="مدير المخزن">مدير المخزن</option>
                <option value="امين المخزن">أمين المخزن</option>
                <option value="كاتب الشطب">كاتب الشطب</option>
                <option value="التمريض">التمريض</option>
            </select>

            <button type="submit">إنشاء حساب</button>
        </form>

    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var passwordIcon = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordIcon.textContent = '👁‍🗨'; // تغيير الأيقونة إلى وضعية العين المفتوحة
            } else {
                passwordInput.type = 'password';
                passwordIcon.textContent = '👁'; // تغيير الأيقونة إلى وضعية العين المغلقة
            }
        }
    </script>
</body>
</html>
